@import "../About/About.scss";

// 768
.aboutContainer_projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 95%;
  margin: auto;
  margin-bottom: 25px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 470px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &_box {
    position: relative;
    outline: 1px solid #aaaaaa36;
    color: #aaa;
    padding: 10px;
    min-width: 155px;

    .imgContainer {
      position: relative;

      > img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .outline {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 97%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000cf;
        gap: 20px;
        opacity: 0;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
        }

        > a {
          text-align: center;
          cursor: pointer;
          text-decoration: none;
          border: none;
          color: #aaa;
          font-size: xx-large;
          &:hover {
            color: #97ff8a;
          }
        }
      }
    }
    .techContainer {
      display: flex;
      flex-wrap: wrap;

      > span {
        font-size: 11px;
        padding: 3px 8px;

        > svg {
          padding-right: 3px;
          color: #97ff8a;
        }
      }
    }

    > h1 {
      margin: 0;
      font-size: 20px;
      color: #97ff8a;
    }
    > p {
      margin: 0;
      font-size: 14px;
    }
  }
}
