.boxFooter {
  outline: 1px solid #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  backdrop-filter: blur(10px);

  > p {
    font-size: medium;
    padding: 25px;
  }
}
