.sectionProyectos {
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(221, 221, 221, 0.0666666667);
  border-radius: 0;
  max-width: 1365px;
  padding: 50px 0 0 0;
  margin: auto;

  > h1 {
    color: #607D8B;
    font-size: 43px;
    text-align: left;
    margin: 0;
    padding: 0 5%;

    @media (max-width: 380px) {
      font-size: 30px;
    }
  }

  > p {
    font-size: x-large;
    margin: -14px 0 0 0;
    padding: 10px 5%;
  }

  .proyectosContainer {
    margin: 0 auto;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @media (max-width: 1115px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 900px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 650px){
      grid-template-columns: repeat(1, 1fr);
    }

    > .boxProject {
      outline: 1px solid #55555578;
      border-radius: 10px;
      padding: 6% 3%;
      background-color: #55555522;

      .boxImagen {
        display: flex;
        align-items: center;
        justify-content: center;

        &_img {
          height: 100%;
          width: 100%;

          > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
          }
        }
      }

      .boxProjectInfo {
        > h1 {
          color: #607D8B;
          text-shadow: 0 0 40px #607D8B;
          margin: 0 auto 8px;
        }

        .boxTecnologias {
          display: flex;
          flex-wrap: wrap;

          > button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px 10px;
            margin: 5px 3px;
            border-radius: 6px;
            border: none;
            outline: none;
            background-color: #607d8b4a;

            .icon {
              font-size: 20px;
              color: #fff;
            }

            > p {
              margin: auto;
              padding-left: 5px;
            }
          }
        }

        .infoProject {
          text-align: justify;
          margin: 15px 0;
        }

        .linksProject {
          display: flex;
          justify-content: space-around;
          flex-direction: column;

          > button {
            border: none;
            outline: 1px solid;
            padding: 0px 18px;
            margin: 0px 0px 10px 0px;
            width: 100%;
            border-radius: 5px;
            background-color: transparent;
            cursor: pointer;

            > a {
              display: flex;
              align-items: center;
              height: 100%;
              font-size: medium;
              justify-content: center;
              font-weight: 600;
              color: #fff;
              text-decoration: none;
              transition: letter-spacing .3s ease, background-color .3s ease;

              > p {
                margin: 12px 5px;
              }
            }

            &:hover {
              letter-spacing: 2px;
              background-color: #110e0e;
            }
          }

          .web {
            background-color: #607D8B;
            
            &:hover {
              letter-spacing: 2px;
              background-color: #607D8B;
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {


    > p {
      font-size: medium;
      text-align: justify;
      word-spacing: normal;
    }
  }
}
