@import "../About/About.scss";

.h3 {
  letter-spacing: .7px;
  padding-bottom: 2px;
  border-bottom: 1px solid #333;
  color: #97ff8a;
  margin-top: 40px;
}
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  > span {
    outline: 1px solid #aaa1;
    padding: 15px 20px;
    display: flex;
    align-items: center;

    .rIcon {
      fill: #aaa;
      font-size: xx-large;
      padding-right: 8px;
    }
    > p {
      margin: 0;
      color: #aaa;
    }
  }
}
